{
  "packages": {
    ".": {
      "release-type": "node",
      "extra-files": [
        {
          "path": "package.json",
          "jsonpath": "$.version"
        },
        {
          "path": "another-file.json",
          "jsonpath": "$.dependencies.my-package"
        }
      ]
    }
  }
}
